1 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div class="ONE">
    <h1> REFRESH PAGE AND CLICK RANDOM JOKES BOX  </h1>
  <h2>CLICK RANDOM JOKES HERE :</h2>
  <p class="TWO">
   setup:  <%=setup  %>
  </p>
  <p class="THREE">
   punchline:  <%= punchline %>
  </p>
  <p class="FOUR">
    joke type : <%= type %>
  </p>
  </div>
</body>
</html>